<form action="" method="POST" role="form">
  <legend>Add new product</legend>
  <div class="form-group">
    <label>id</label>
    <input type = "text" class="form-control"[(ngModel)]="as.id"[ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label> name</label>
    <input type = "text" class="form-control" [(ngModel)]="as.name"[ngModelOptions]="{standalone: true}"  >
  </div>
  <div class="form-group">
    <label >Description</label>
    <textarea class="form-control"[(ngModel)]="as.description"[ngModelOptions]="{standalone: true}" row="6"></textarea>
  </div>
  <button type="submit" class="btn btn-primary"[style.margin-top.px]="30" (click)="onSubmit()">Add product</button>
</form>
